.add-todo {
  margin-top: 2rem;
  margin-left: 1.5rem;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.add-todo input,
p {
  font-size: 1rem;
}

.add-todo button {
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.add-todo input {
  border: none;
  padding: 0.5rem;
  background-color: lightyellow;
}

.add-todo input:focus {
  outline: none;
}

form {
  display: flex;

  border-bottom: 3px dotted black;
  width: 90%;
}

.list-item {
  display: flex;
  margin-top: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0rem;

  border-bottom: 3px dotted black;
  width: 90%;
}

.list-item input {
  margin-right: 0.5rem;
  padding: 0.8rem;
}
